header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 20px;
  color: white;
}

header .header__name {
  font-size: 36px;
  margin: 0;
  order: 2;
}

header .header__title {
  font-size: 24px;
  margin: 0;
  order: 2;
}

header .header__contact {
  list-style: none;
  margin: 0;
  padding: 0;
  order: 1;
}

header .header__contact li {
  margin-right: 20px;
  font-size: 18px;
}

header .header__contact li i {
  margin-right: 10px;
}

header img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  margin-left: 20px;
  order: 3;
}

@media only screen and (max-width: 767px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header img {
    margin-left: 0;
    margin-bottom: 10px;
    order: 2;
  }

  .header__name {
    font-size: 28px;
  }

  .header__title {
    font-size: 18px;
  }

  .header__contact li {
    margin-right: 10px;
    font-size: 16px;
  }

  .header__contact li i {
    margin-right: 5px;
  }
}
